@import "tailwindcss";

.rich-editor {
  font-family: 'Inter', 'Roboto', 'Arial', 'Helvetica', 'Georgia', 'Times New Roman', sans-serif;
  color-scheme: system light dark;
}

/* Base ProseMirror styles */
.ProseMirror {
  >*+* {
    /* margin-top: 0.75em; */
    margin-bottom: 0.75em;
  }

  &:focus {
    outline: none;
  }

  p {
    margin: 0;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}


/* Image styles */
.ProseMirror {
  div {

    /* max-width: 100%; */
    /* height: auto; */
    &.ProseMirror-selectednode {

      /* display: inline-block; */
      img {
        outline: 2px solid #68CEF8;
      }

      div.resize-handle {
        background-color: #68CEF8;
        display: block !important;
      }
    }
  }
}

/* Blockquote styles */
.ProseMirror {
  blockquote {
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 4px solid #e5e7eb;
    font-style: italic;
    /* color: #4b5563; */
    transition: border-color 0.2s, color 0.2s;
  }

  .dark blockquote {
    border-left-color: #4b5563;
    /* color: #9ca3af; */
  }
}

/* List styles */
.ProseMirror {
  ul {
    list-style-type: disc;
    padding-left: 1rem;
    margin: 0.5rem 0;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1rem;
    margin: 0.5rem 0;
  }

  li {
    margin: 0.2rem 0;

    >p {
      margin: 0;
    }

    /* Handle nested lists */
    ul,
    ol {
      margin: 0.2rem 0;
      margin-left: 1rem;
    }
  }
}

/* Task list styles */
.ProseMirror {
  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: flex-start;
      margin: 0.5em 0;

      >label {
        margin-right: 0.5em;
        user-select: none;
      }

      >div {
        flex: 1;
        margin-top: 0.1em;

        >p {
          margin: 0;
        }
      }

      input[type="checkbox"] {
        cursor: pointer;
        margin: 0;
        margin-right: 0.5em;
        margin-top: 0.3em;
      }
    }

    /* Nested task lists */
    ul[data-type="taskList"] {
      margin-left: 1.5em;
    }
  }
}

/* Table styles */
.ProseMirror {
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    /* table-layout: fixed; */
    width: 100%;

    td,
    th {
      border: 2px solid #ced4da;
      box-sizing: border-box;
      min-width: 1em;
      padding: 3px 5px;
      position: relative;
      vertical-align: top;

      >* {
        margin-bottom: 0;
      }
    }

    th {
      /* background-color: #171e2b !important; */
      font-weight: bold;
      text-align: left;
    }

    /* :not(.dark) th {
      background-color: #f8f9fa;
    } */

    .selectedCell:after {
      background: rgba(200, 200, 255, 0.4);
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }
  }
}

.rich-editor-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);    
    border-radius: 4px;
  }

  &::-webkit-scrollbar-edge {
    background: transparent;
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

}

/* Code styles */
.ProseMirror {
  pre {
    &.scrollbar-hide {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }

  /*  code {    
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em;
    transition: background-color 0.2s, color 0.2s;
  }

  pre {
    border-radius: 0.5rem;
    padding: 1rem;
    transition: background-color 0.2s, color 0.2s;

    code {
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      font-family: 'Mono', 'Monaco', 'Courier New', Courier, monospace;
    }
  }*/
}

/* Dark mode styles */


/* Light mode syntax highlighting */
/* :not(.dark) {
  .hljs-comment,
  .hljs-quote {
    color: #616161;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #e45649;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #986801;
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #50a14f;
  }

  .hljs-title,
  .hljs-section {
    color: #4078f2;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #a626a4;
  }
} */